@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-[#04162d] text-gray-800 dark:text-gray-300
}

@font-face {
  font-family: "IRANYekan-Ubitex";
  src: url('./assets/fonts/IRANYekanMedium.woff');
}

@keyframes floatUp1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatLeft {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.rtl-grid {
  direction: rtl;
}

.filter-green {
  filter: invert(42%) sepia(56%) saturate(3755%) hue-rotate(110deg) brightness(95%) contrast(100%);
}

.filter-red {
  filter: invert(22%) sepia(56%) saturate(88855%) hue-rotate(344deg) brightness(100%) contrast(100%)
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0f4f8b9c;
  @apply dark:bg-[#04162d] bg-gray-200 rounded-full
}

::-webkit-scrollbar-thumb {
  /* background: #0c3e6d; */
  transition: 0.15s;
  border-radius: 5px;
  @apply dark:bg-[#0c3e6d] bg-gray-400
}

::-webkit-scrollbar-thumb:hover {
  background: #f39200;
  transition: 0.15s;
}

.h_iframe-aparat_embed_frame {
  position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-animation {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
          #b4b4b475 0%, #b4b4b475 35%,
          #a5a5a5c9 45%, #a5a5a5c9 55%,
          #b4b4b475 65%, #b4b4b475 100%);
  background-size: 400%;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: 100%;
  }
}

.crisp-client .cc-1m7s[dir=rtl] .cc-vwsc, .crisp-client .cc-1m7s[dir=rtl] .cc-vwsc * {
  font-family: "IRANYekan-Ubitex"!important;
}

.gTPjFA, .eqeAgc, .buVPmO, .dWbQzG, .lgCdjb, .fWYWWZ 
{
  direction: ltr!important;
  @apply !px-2 !py-1 !text-sm max-sm:!text-xs !text-[#353535] !bg-gray-400 !bg-opacity-10 hover:!bg-gray-200 dark:!bg-[#062e66] dark:!text-gray-300 dark:hover:!bg-[#084292] !transition-all 
}

.cgeQjm
{
  @apply !fill-[#f39200]
}

.ubitex img
{
  @apply rounded-lg !w-full
}

.ubitex h1
{
  @apply text-3xl font-bold pt-8 pb-3
}

.ubitex p
{
  @apply text-gray-600 dark:text-gray-400
}


.ubitex h2 
{
  @apply text-xl font-semibold pt-5
}

.swiper-slide
{
  @apply rounded-3xl
}

.ub-fnt-fam_b77syt, .ub-fnt-fam_wm9v6k {
  @apply !font-display
}

.ub-bg-clr_white {
  @apply !bg-white dark:!bg-[#062144] !rounded-xl !z-50
}

 .ub-color_696f8c {
  @apply !text-gray-500 dark:!text-gray-300 !text-right
}

.ub-color_101840 {
  @apply !text-[#f39200] dark:!text-[#f39200] !text-right
}

.ub-dspl_flex {
  @apply !flex-row-reverse
}

.ub-bs_kymczs {
  @apply dark:shadow-[0_10px_30px_0px_rgba(6,37,70,0.7)] shadow-[0_15px_40px_0px_rgba(0,0,0,0.1)]
}
